# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Latex
*.gz
*.log
*.aux

# Labs
lab06/
lab05-solution/

*.project
Report/build
